#
# Discovery Service mapping that enables the CAF.ds to function as advertised
#

Alias /${CDS_HTMLWAYFDIR} ${CDS_HTMLROOTDIR}

<Directory ${CDS_HTMLROOTDIR}>
    Options Indexes MultiViews
    AllowOverride None
    Order allow,deny
    Allow from all
    Require all granted

    <FilesMatch ".+\.ds$">
SetHandler application/x-httpd-php

      AcceptPathInfo On
    </FilesMatch>

</Directory>
