<?php
$cds_settings=parse_ini_file('/root/env');

set_include_path($cds_settings['CDS_CODEBASE']);

	header("Location: ".$cds_settings['CDS_HTMLWAYFDIR']."/".$cds_settings['CDS_WAYFDESTFILENAME'] );
	die;
?>
